name: PyCompile

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pycompile:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: [ 2.7, 3.6, 3.7, 3.8, 3.9, '3.10' ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2.3.1
        with:
          python-version: ${{ matrix.python }}
      - run: python -m py_compile srf
